<footer class="container-fluid">
    <section class="down-part-footer">
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="about">
            &copy; WanderLust Private Limited
        </div>
        <div class="links">
            <a href="#">name</a>
            <a href="#">name</a>
        </div>
    </section>
</footer>